.navbar_container {
  min-height: 5vh;
  flex: 2;
  background-color: coral;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  background-color: transparent;
}
