.task {
  border: 1px solid;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 8px;
}

.task.taskType_entrada {
  background-color: chartreuse;
}

.task.taskType_salida {
  background-color: coral;
}

.task.taskType_mantenimiento {
  background-color: yellow;
}

.task.taskType_proveedor {
  background-color: turquoise;
}

.task.taskType_divisor {
  background-color: red;
}

.task.taskType_none {
  background-color: black;
  color: white;
}
