.task {
  border: 1px transparent;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 8px;
}

.task.taskType_entrada {
  background-color: #a6d46f;
}

.task.taskType_salida {
  background-color: #f58e6c;
}

.task.taskType_mantenimiento {
  background-color: #b88a16;
}

.task.taskType_proveedor {
  background-color: #48abcf;
}

.task.taskType_divisor {
  background-color: #ff1500;
}

.task.taskType_bodega {
  background-color: green;
}

.task.taskType_none {
  background-color: black;
  color: white;
}

.bandera {
  background-color: yellow;
  border: 1px transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  font-size: smaller;
}
